html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: inline-block;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.one {
  display: inline-block;
  text-align: center;
  padding: 1em;
  max-width: 25em;
  margin-top: 1.5em;
}

.two {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;
}

body {
  background-color: #eee9de;
  margin: 0;
}

section {
  background-color: #eee9de;
  text-align: center;
}

img {
  display: block;
  max-width: 25em;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .4em;
}

h2 {
  font-family: Lato, sans-serif;
  color: #333;
  font-weight: bold;
  text-align: left;
  margin-top: .4em;
  margin-bottom: 0;
  padding: 0;

}

p {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #666;
  text-align: left;
  padding-top: .75em;
}

a {
  color: #666;
  display: inline-block;
  text-align: left;
}

.btn {
  font-family: Lato, sans-serif;
  color: #333;
  text-decoration: none;
  border: 3px solid #333;
  border-radius: .75em;
  padding: .75em;
  text-align: left;
  margin-bottom: 1.5em;
}
