html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


font-family: 'Lato', sans-serif;

Typefaces: Lato
Maximum width on section inner boxes: 25em
Colours: #666, #333, #eee9de
Paddings: 1em, 2em, .4em .75em .5em
Margins: 1.5rem
Line-height: 1.5
